body,
html {
  overflow: hidden;
  margin: 0;
}

.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  margin: 0;
  grid-template-rows: 10% 90%;
  background-color: #f9f9f9;
}

.title {
  /* border: 2px solid red; */
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #10002b;
  color: #e0aaff;
}

.screen {
  /* border: 2px solid blue; */
  border-radius: 2px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.left-item {
  /* border: 2px solid green; */
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #10002b;
}

.middle-item {
  /* border: 2px solid cyan; */
  border-radius: 2px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #240046;
}

.right-item {
  /* border: 2px solid orange; */
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #10002b;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
}