.users {
    display: flex;
    flex-direction: column;
    background-color: #240046;
    border: 3px solid #c77dff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    flex-grow: 1;
}

.user-hr {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 90%;
    border: 0;
    border-bottom: 2px solid #c77dff;
}

.user-title {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 0;
    font-size: 2.25vw;
    color: #c77dff;
}

.members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:  center;
    font-size: 1.3vw;
    color: #c77dff;
}